.button-section > * {
  margin: 1%;
}
.button-section > *.selected {
  box-shadow: 2px 2px 4px 0 #db1a1a;
}
.my-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.my-field {
  border: solid 1px #333;
  margin: 1%;
  padding: 1%;
  width: 29%;
}

.my-field label {display: inline-block; text-align: right; min-width: 100px; padding-right: 10px;}